body{
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #f5f7fa, #c3cfe2);
    padding: 0;
    margin: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
}

.header {
    background-color: #007BFF;
    padding: 20px;
    border-radius: 8px;
    color: #fff;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header h1 {
    margin: 0;
    flex-grow: 1;
    text-align: center;
}

.back-button {
    background-color: #fff;
    color: #007BFF;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    margin-right: 10px;
    display: inline-block;
    border: 2px solid #007BFF;
    transition: all 0.3s ease;
}

.back-button:hover {
    background-color: #007BFF;
    color: #fff;
}

.content {
    margin-top: 20px;
}

.content form {
    display: flex;
    margin-bottom: 20px;
}

.content form input[type="text"] {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    margin-right: 10px;
    transition: border 0.3s ease;
}

.content form input[type="text"]:focus {
    border-color: #007BFF;
}

.content form button {
    background-color: #28a745;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.content form button:hover {
    background-color: #218838;
}

.content ul {
    list-style-type: none;
    padding: 0;
}

.content ul li {
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}

.delete-form {
    margin: 0;
}

.delete-button {
    background-color: #dc3545;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.delete-button:hover {
    background-color: #c82333;
}
